-- Migration 17: Drop hari and academic_year_id from jam_pelajaran
ALTER TABLE public.jam_pelajaran DROP CONSTRAINT IF EXISTS jam_pelajaran_academic_year_id_hari_jam_ke_key;
ALTER TABLE public.jam_pelajaran DROP COLUMN IF EXISTS academic_year_id;
ALTER TABLE public.jam_pelajaran DROP COLUMN IF EXISTS hari;
ALTER TABLE public.jam_pelajaran ADD UNIQUE(lembaga_id, jam_ke);

