CREATE OR REPLACE FUNCTION public.create_teacher_account(
  new_email TEXT,
  new_password TEXT,
  new_full_name TEXT,
  target_lembaga_id UUID
) RETURNS UUID AS \$\$
DECLARE
  new_user_id UUID;
BEGIN
  IF EXISTS (SELECT 1 FROM auth.users WHERE email = new_email) THEN
    RAISE EXCEPTION 'Email sudah terdaftar. Silakan gunakan email lain.';
  END IF;

  new_user_id := gen_random_uuid();

  -- Insert Auth (TANPA auth.identities karena malah bikin error schema di Supabase versi ini)
  INSERT INTO auth.users (id, instance_id, role, aud, email, encrypted_password, email_confirmed_at, raw_app_meta_data, raw_user_meta_data, created_at, updated_at) 
  VALUES (new_user_id, '00000000-0000-0000-0000-000000000000', 'authenticated', 'authenticated', new_email, crypt(new_password, gen_salt('bf')), now(), '{"provider":"email","providers":["email"]}', jsonb_build_object('full_name', new_full_name, 'role', 'GURU'), now(), now());

  -- Insert Profile
  INSERT INTO public.users (id, full_name) VALUES (new_user_id, new_full_name) ON CONFLICT (id) DO UPDATE SET full_name = EXCLUDED.full_name;

  -- BIKIN JADI GURU
  INSERT INTO public.user_roles (user_id, lembaga_id, role) VALUES (new_user_id, target_lembaga_id, 'GURU');

  RETURN new_user_id;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;
